# API Configuration
VITE_CONVERT_API_URL=http://localhost:2104/api/v1/musicxml/convert
VITE_DOWNLOAD_API_URL=http://localhost:2104/api/v1/musicxml/download
VITE_STATUS_API_URL=http://localhost:2104/api/v1/musicxml/status
